
  .mega-text {
    font-size: 150px!important;
  }

  .desktop-display-middle {
    position: absolute;
    top: 40%!important;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.centre-align{
    text-align: center;
}

.desktop-quote {
  width: 1000px;
  height: 100px;
}

.mobile-quote {
  width: 400px!important;
  height: 200px!important;
}